<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
</div>
<button pButton 
  icon="pi pi-bell" 
  iconPos="right"
  label="cambiar nombre"
  class="p-button-help"
  (click)="mostrarNombre()" 
></button>
<p-card [header]="nombre | titlecase"
  subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>